@import url("https://fonts.googleapis.com/css2?family=Georama:wght@100&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Abel&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bangers&display=swap");
body {
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
		"Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
		sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
		monospace;
}

.main-title {
	font-family: "Bangers", cursive !important;
	font-size: 5rem;
	color: aliceblue;
}

.demi-title {
	font-family: "Bangers", cursive !important;
	font-size: 3.5rem;
	color: rgb(12, 122, 218);
}

.comic-thumb {
	width: 213px;
	height: 312px;
	aspect-ratio: auto 213/312;
}
.hero-name {
	font-family: "Georama", sans-serif;
	text-transform: capitalize;
	font-size: 1.5rem;
	font-weight: bold;
	color: cornflowerblue;
}

.navbar-nav > li a {
	font-family: "Abel", sans-serif;
	text-transform: uppercase;
	font-size: 1.4rem;
	text-decoration: none;
	color: aliceblue;
}

.navbar-nav > li a:hover {
	color: coral;
	font-weight: 600;
}
